input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

.p-datatable-loading-overlay {
  background-color: #00000030;
}
.p-paginator{
  .p-dropdown,.p-multiselect, {
    @extend .btn, .btn-light;
    display: inline-flex !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    .p-dropdown-label,.p-multiselect-label,{
      margin-left: 5px !important;
      margin-right: 5px !important;
    }
  }
  .p-paginator-element {
    @extend .btn;
    @extend .btn-outline-light;
    margin: 0 3px;
    border-radius: 50% !important;
    display: inline-flex !important;
    width: 0 !important;
    height: 0 !important;
    padding: 15px !important;
  }
  .p-paginator-current {
    margin-left: auto;
  }
}
.p-highlight {
  //background-color: #262b5a !important;
  opacity: 0.3;
}
.p-dropdown-items, .p-multiselect-items {
  @extend .dropdown-menu;
  display: unset !important;
  min-width: 55px !important;
  text-align: center !important;
  margin-top: 0 !important;
  .p-dropdown-item, .p-multiselect-item {
    @extend .dropdown-item;
    padding-left: 30px;
    padding-right: 30px;
    .p-checkbox {
      position: absolute;
      left: 15px;
      top: 35%;
    }
  }
  .p-highlight {
    background-color: #262b5a !important;
    opacity: 1;
  }
}
.light-mode .p-dropdown-items {
  .p-highlight {
    color: #fff;
    background-color: #262b5a !important;
    opacity: 1;
  }
}

.p-dialog-mask{
  background: #00000050 !important;
}
.p-dropdown-filter-container, .p-multiselect-filter-container {
  padding: 5px 10px;
  .p-dropdown-filter.p-inputtext, .p-multiselect-filter.p-inputtext{
    @extend .form-control
  }
  .p-dropdown-filter-icon, .p-multiselect-filter-icon{
    right: 30px;
  }
}
.dark-mode .p-dropdown-filter-container, .dark-mode .p-multiselect-filter-container {
  background: #25274a;
}
.light-mode .p-dropdown-filter-container, .light-mode .p-multiselect-filter-container {
  background: #fff;
}

.p-confirm-popup{
  @extend .popover;
  .p-confirm-popup-content {
    @extend .popover-body
  }
  .p-confirm-popup-footer {
    text-align: center;
    padding-bottom: 15px;
  }
}
.p-confirm-popup:before{
  @extend .popover-arrow;
  position: absolute; left: 0; transform: translate(129px, 0px);
}
.p-image-mask {
  background: #00000090;
}
.p-image-toolbar {
  //margin: 20px !important;
  //color: #fff !important;
  .p-image-action {
    // margin: 0 10px !important;
    color: #f8f9fa;
    //background-color: transparent;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    margin-right: 0.5rem;

    text-align: left;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  .p-image-action:hover {
    background-color: #ffffff50;
    font-size: 20px;
  }
}
.opt.selected{
  background-color: #1a1c35 !important
}
.p-dropdown-panel, .p-multiselect-panel{
  z-index: 99999 !important;
  .p-multiselect-header {
    .p-multiselect-close{
      display: none !important;
    }
  }
}
.vue-select{
  width: 100% !important
}
.highlighted{
  background-color: unset !important;
  color: #6259ca !important;
}
.vue-select-header .vue-input input {
  background-color:unset !important;
}
.vue-select-header .vue-input input::placeholder {
  color: #fff !important;
  font-size: 14px !important;
}

ul.p-dropdown-items, ul.p-multiselect-items {
  width: 100% !important;
  text-align: start !important;
}
.p-dropdown-label, .p-multiselect-label {
  width: 100% !important;
}

.p-sidebar-close {
  @extend .btn, .btn-outline-light;
  padding: 20px !important;
  margin-left: auto !important;
}
.p-component-overlay-leave {
  animation: p-component-overlay-leave-animation 150ms forwards;
}
@keyframes p-component-overlay-leave-animation {
  from {
    background-color: var(--maskbg);
  }
  to {
    background-color: transparent;
  }
}

.p-tabview-nav-content {
  @extend .tabs-menu1;
}

.p-tabview-nav-btn {
  @extend .btn, .btn-outline-light;
  padding-left: 7px !important;
  padding-right: 7px !important;
}
.p-tabview-nav-btn.p-tabview-nav-prev {
  background-image: linear-gradient(to right, #00000090 , transparent);
}
.p-tabview-nav-btn.p-tabview-nav-next {
  background-image: linear-gradient(to left, #00000090 , transparent);
}

.p-accordion {
  @extend .demo-accordion;
  @extend .accordionjs;
  .p-accordion-tab {
    @extend .acc_section;
    .p-accordion-header {
      @extend .acc_head;
      .p-accordion-header-link {
        padding: 5px;
        .p-accordion-header-text {
          margin: 0 10px;
        }
      }
    }
    .p-toggleable-content {
      @extend .acc_content;
    }
  }
}
.pi-chevron-right:before{
  content: "\e901";
}

.p-dataview-layout-options{
  @extend .btn-group;
  .p-button{
    @extend .btn, .btn-primary
  }
}
.p-grid{
  @extend .row, .justify-content-center
}
.p-overlaypanel{
  @extend .card;
  box-shadow: #00000038 0 0 20px;
  .p-overlaypanel-content{
    @extend .card-body;
  }
  .p-overlaypanel-close{
    position: absolute;
    margin: -5px;
    background-color: #3366ff;
    padding: 5px;
    color: #fff;
    border-radius: 50px;
  }
}

.p-column-header-content {
  .p-column-title{
    width: 100% !important;
  }
}

.toggle-container {
  width: 150px !important;
  .toggle{
    width: 100% !important;
    .toggle-label{
      width: 100% !important;
    }
  }
}

.p-dialog{
  @extend .modal-content,.modal-sm;
  .p-dialog-header{display: none}
  .p-dialog-content{@extend .modal-body}
  .p-dialog-footer{
    @extend .modal-footer,.flex-row-reverse
  }
}

.p-treetable-toggler{
  visibility: unset !important;
}


.Content{
  direction: ltr;
}
.Flipped{
  direction: rtl;
}

.rtl .p-sidebar {
  direction: ltr !important;
}
.rtl .search-element .feather.feather-search {
  right: unset !important;
  left: 10px;
}
.rtl .p-paginator {
  direction: ltr;
}
.rtl .p-dropdown-filter-icon{
  right: unset !important;
  left: 30px;
}
.rtl .pi-chevron-right:before{
  content: "\e900";
}
.rtl .admisetting-tabs .nav-link::before {
  margin-left: -3px !important;
}
.rtl .Content{
  direction: rtl;
}
.rtl .Flipped{
  direction: ltr;
}
