.dark-mode {
  .card-header, .p-dropdown-filter-container, .p-multiselect-filter-container, table tbody {
    background: #25274a;
  }
  .accordion {
    .accordion-header {
      background: #25274a;
    }
    .accordion-body-head {
      background: #25274a;
    }
    .accordion-button {
      background: #25274a;
      color: #fff;
    }
    .accordion-button:after {
      border-color: #e7e9f8;
    }
    .accordion-item {
      border: 1px solid #343657 !important;
    }
    .accordion-body {
      background: #25274a !important;
    }
  }
}

.light-mode {
  .card-header, .p-dropdown-filter-container, .p-multiselect-filter-container, table tbody {
    background: #fff;
  }
  .p-dropdown-items-wrapper, .p-multiselect-items-wrapper {
    .p-highlight {
      color: green;
      font-weight: bold;
      background-color: unset !important;
      opacity: 1;
    }
  }
  .accordion {
    .accordion-header {
      background: #ebeff8 !important;
    }
    .accordion-button {
      background: #ebeff8 !important;
      margin: 0 0 1px 0;
      color: #263871;
    }
    .accordion-button:after {
      border-color: #44507a;
    }
    .accordion-item {
      border: 1px solid #ebeff8 !important;
    }
  }
}

.rtl {
  .p-sidebar {
    direction: ltr !important;
  }
  .search-element .feather.feather-search {
    right: unset !important;
    left: 10px;
  }
  .p-paginator {
    direction: ltr;
  }
  .p-dropdown-filter-icon{
    right: unset !important;
    left: 30px;
  }
  .p-dropdown-clear-icon {
    color: red !important;
    right: unset !important;
    top: 66% !important;
    left: 35px !important;
  }
  .pi-chevron-right:before{
    content: "\e900";
  }
  .admisetting-tabs .nav-link::before {
    margin-left: -3px !important;
  }
  .Content{
    direction: rtl;
  }
  .Flipped{
    direction: ltr;
  }
  .list-style-disc {
    padding-left: unset !important;
    padding-right: 40px;
  }
  .sidebar-right {
    left: 0;
    right: 100%;
  }
  .form-floating {
    .label {
      right: 0 !important;
      left: unset !important;
    }
  }
  .accordion-button:not(.collapsed)::after {
    transform: rotate(
        -135deg
    ) !important;
  }



  .p-dialog-mask.p-dialog-left {
    right: 265px;
    left: unset !important;
    transition: 0.5s ease-in-out;
  }
  &.sidebar-mini.sidenav-toggled .p-dialog-mask.p-dialog-left {
    right: 70px;
    left: unset !important;
    transition: 0.5s ease-in-out;
  }
  .leftDialogCustom {
    right: 420px !important;
  }


  .leftOtherOptions {
    left: unset;
    right: 935px;
  }
}

.accordion-button {
  text-align: inherit !important;
}
.accordion-button:after {
  background: unset !important;
  margin: 15px !important;
  border: solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 1px !important;
  height: 13px;
  width: 13px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.accordion-button:not(.collapsed)::after {
  transform: rotate(
      225deg
  ) !important;
}
.accordion-button.arrowFalse:after {
  content: unset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}
.p-datatable-loading-overlay {
  background-color: #00000030;
}
.p-paginator{
  .p-dropdown,.p-multiselect, {
    @extend .btn, .btn-light;
    display: inline-flex !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    .p-dropdown-label,.p-multiselect-label,{
      margin-left: 5px !important;
      margin-right: 5px !important;
    }
  }
  .p-paginator-element {
    @extend .btn;
    @extend .btn-outline-light;
    margin: 0 3px;
    border-radius: 50% !important;
    display: inline-flex !important;
    width: 0 !important;
    height: 0 !important;
    padding: 15px !important;
  }
  .p-paginator-current {
    margin-left: auto;
  }
}
.p-highlight {
  //background-color: #262b5a !important;
  opacity: 0.3;
}
.p-dropdown-panel, .p-multiselect-panel {
  background-color: #25274a;
  box-shadow: 0 16px 18px #0e0f2e;
  border: 1px solid rgba(255,255,255,.07);
  margin: 2px 0 !important;
}
.p-dropdown-items-wrapper, .p-multiselect-items-wrapper {
  //@extend .dropdown-menu;
  display: unset !important;
  min-width: 55px !important;
  width: 100% !important;
  text-align: start !important;
  /*text-align: center !important;*/
  margin-top: 0 !important;
  .p-dropdown-item, .p-multiselect-item {
    @extend .dropdown-item;
    padding-left: 30px;
    padding-right: 30px;
    .p-checkbox {
      position: absolute;
      left: 15px;
      top: 35%;
    }
  }
  .p-highlight {
    background-color: #262b5a !important;
    opacity: 1;
  }
}
.p-dropdown-items, .p-multiselect-items {
  max-height: 250px !important;
  overflow: auto;
}



.p-dialog-mask{
  background: #00000050;
  position: fixed !important;
  &.p-dialog-left {
    left: 265px;
    transition: 0.5s ease-in-out;
  }
}
.sidebar-mini.sidenav-toggled .p-dialog-mask{
  background: #00000050;
  position: fixed !important;
  &.p-dialog-left {
    left: 70px;
    transition: 0.5s ease-in-out;
  }
}



.leftDialogOptionandDiff {
  width: 650px;
}
.sidebar-mini.sidenav-toggled .leftDialogOptionandDiff{
  width: 850px;
}




.p-dialog-mask.p-dialog-right, .p-dialog-mask.p-dialog-left{
  background: unset !important;
}
.p-dropdown-filter-container, .p-multiselect-filter-container {
  padding: 5px 10px;
  .p-dropdown-filter.p-inputtext, .p-multiselect-filter.p-inputtext{
    @extend .form-control
  }
  .p-dropdown-filter-icon, .p-multiselect-filter-icon{
    right: 30px;
  }
}
.p-confirm-popup{
  @extend .popover;
  .p-confirm-popup-content {
    @extend .popover-body
  }
  .p-confirm-popup-footer {
    text-align: center;
    padding-bottom: 15px;
  }
}
.p-confirm-popup:before{
  @extend .popover-arrow;
  position: absolute; left: 0; transform: translate(129px, 0px);
}
.p-image-mask {
  background: #00000090;
}
.p-image-toolbar {
  //margin: 20px !important;
  //color: #fff !important;
  .p-image-action {
    // margin: 0 10px !important;
    color: #f8f9fa;
    //background-color: transparent;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    margin-right: 0.5rem;

    text-align: left;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  .p-image-action:hover {
    background-color: #ffffff50;
    font-size: 20px;
  }
}
.opt.selected{
  background-color: #1a1c35 !important
}
.p-dropdown-panel, .p-multiselect-panel{
  z-index: 99999 !important;
  .p-multiselect-header {
    .p-multiselect-close{
      display: none !important;
    }
  }
}
.vue-select{
  width: 100% !important
}
.highlighted{
  background-color: unset !important;
  color: #6259ca !important;
}
.vue-select-header .vue-input input {
  background-color:unset !important;
}
.vue-select-header .vue-input input::placeholder {
  color: #fff !important;
  font-size: 14px !important;
}
.p-dropdown-label, .p-multiselect-label {
  width: 100% !important;
}
.p-sidebar-close {
  @extend .btn, .btn-outline-light;
  padding: 20px !important;
  margin-left: auto !important;
}
.p-component-overlay-leave {
  animation: p-component-overlay-leave-animation 150ms forwards;
}
@keyframes p-component-overlay-leave-animation {
  from {
    background-color: var(--maskbg);
  }
  to {
    background-color: transparent;
  }
}
.p-tabview-nav-content {
  @extend .tabs-menu1;
}
.p-tabview-nav-btn {
  @extend .btn, .btn-outline-light;
  padding-left: 7px !important;
  padding-right: 7px !important;
}
.p-tabview-nav-btn.p-tabview-nav-prev {
  background-image: linear-gradient(to right, #00000090 , transparent);
}
.p-tabview-nav-btn.p-tabview-nav-next {
  background-image: linear-gradient(to left, #00000090 , transparent);
}
.p-accordion {
  @extend .demo-accordion;
  @extend .accordionjs;
  .p-accordion-tab {
    @extend .acc_section;
    .p-accordion-header {
      @extend .acc_head;
      .p-accordion-header-link {
        padding: 5px;
        .p-accordion-header-text {
          margin: 0 10px;
        }
      }
    }
    .p-toggleable-content {
      @extend .acc_content;
    }
  }
}
.pi-chevron-right:before{
  content: "\e901";
}
.p-dataview-layout-options{
  @extend .btn-group;
  .p-button{
    @extend .btn, .btn-primary
  }
}
.p-grid{
  @extend .row, .justify-content-center
}
.p-overlaypanel{
  @extend .card;
  z-index: 998 !important;
  box-shadow: #00000038 0 0 20px;
  .p-overlaypanel-content{
    @extend .card-body;
  }
  .p-overlaypanel-close{
    position: absolute;
    margin: -5px;
    background-color: #3366ff;
    padding: 5px;
    color: #fff;
    border-radius: 50px;
  }
}
.p-column-header-content {
  .p-column-title{
    width: 100% !important;
  }
}
.toggle-container {
  width: 150px !important;
  .toggle{
    width: 100% !important;
    .toggle-label{
      width: 100% !important;
    }
  }
}
.p-dialog{
  @extend .modal-content;
  .p-dialog-header{
    height: 12px !important;
    .p-dialog-header-icon {
      z-index: 9999999;
      position: absolute;
      right: 0 !important;
      top: 0 !important;
      padding: 10px !important;
      font-size: 16px !important;
      font-weight: bold !important;
      .p-dialog-header-close-icon {
        color: red !important;
      }
    }
  }
  .p-dialog-content{@extend .modal-body}
  .p-dialog-footer{
    @extend .modal-footer,.flex-row-reverse
  }
}
.p-treetable-toggler{
  visibility: unset !important;
}
.Content{
  direction: ltr;
}
.Flipped{
  direction: rtl;
}
.p-dropdown-clear-icon {
  color: red !important;
  top: 66% !important;
  right: 35px !important;
  left: unset !important;
}
.p-column-filter-clear-button {
  margin: 0 5px !important;
  color: red;
}
.p-hidden-space {
  display: none !important;
}
.form-floating {
  //.p-dropdown, input, select, .p-multiselect {
  //  height: 40px !important;
  //  padding: 5px 10px !important;
  //  margin-top: 20px;
  //}
  .label {
    right: unset !important;
    left: 0 !important;
  }
}
.p-disabled:hover {
  cursor: not-allowed !important;
}
.modal-xxl {
  width: 1140px !important;
}
.app-content {
  min-height: calc(100vh - 100px);
}
.absolute-loading {
  position: fixed !important;
  z-index: 10 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100% !important;
  background: #00000050;
}
.p-divider {
  margin-bottom: 20px !important;
  &:before {
    border: 1px solid #343657 !important;
  }
}
.leftDialogCustom {
  left: 420px !important;
}
.leftOtherOptions {
  left: 935px;
}
.rightOtherOptions {
  right: 935px;
}
.lg-container, .lg-backdrop, .lg-outer {
  z-index: 1109 !important;
}
.owl-stage {
  display: flex;
  align-items: center;
  .owl-item img {
    margin: auto auto;
  }
}
.owl-nav {
  .owl-prev {
    left: -40px;
  }
  .owl-next {
    right: -40px;
  }
}

/*
.p-tooltip{
  background: #333;
  color: #fff;
  padding: 5px 10px !important;
  border-radius: 10px;
  z-index: 999999999;

  .p-tooltip-arrow {
    background: #333;
    width: 10px !important;
    height: 10px !important;
  }
}
*/

.p-tooltip {
  z-index: 9999;
  .p-tooltip-text {
    /*background: #495057;*/
    background: #333;
    color: #ffffff;
    padding: 0.75rem 0.75rem;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
  }
  &.p-tooltip-right .p-tooltip-arrow {border-right-color: #495057;}
  &.p-tooltip-left .p-tooltip-arrow {border-left-color: #495057;}
  &.p-tooltip-top .p-tooltip-arrow {border-top-color: #495057;}
  &.p-tooltip-bottom .p-tooltip-arrow {border-bottom-color: #495057;}
}

.sorting{
  &:before {
    top: 8px !important;
    left: 1em !important;
    right: unset !important;
  }
  &:after {
    top: 8px !important;
    left: 0.5em !important;
    right: unset !important;
  }
}
